<%= provide(:title, 'Calculators') %> 
<style>body{background-image: url("/assets/congruent_outline.png");}</style>

<div class="container">
  <div class="row">

    <div class="col-md-4 jumbotron" id='bmi'>
      <h3 class="text-center">Body Mass Index</h3>
      <h4 class="text-center">(BMI)</h4>
      <%= form_for(:bmi, url: calculate_path) do |f| %> 
        <div class="form-group">
          <%= f.label :units, 'lb/in.' %> 
          <%= f.radio_button :units, :imperial, checked: true %> 
          <%= f.label :units, 'kg/cm' %> 
          <%= f.radio_button :units, :metric %> 
        </div>
        <div class="form-group">
          <%= f.label :bodyweight %> 
          <%= f.text_field :bodyweight, size: 5 %> 
        </div>
        <div class="form-group">
          <%= f.label :height %> 
          <%= f.text_field :height, size: 4 %> 
        </div>
        <%= f.submit 'Submit' %> 
      <% end %> 
      <br>
      <%= flash[:bmi] %>
    </div>

    <div class="col-md-4 jumbotron" id='wilks'>
      <h3 class="text-center">Wilks Score</h3>
      <%= form_for(:wilks, url: calculate_path) do |f| %> 
        <div class="form-group">
          <%= f.label :gender, 'male' %> 
          <%= f.radio_button :gender, :male, checked: true %> 
          <%= f.label :gender, 'female' %> 
          <%= f.radio_button :gender, :female %> 
        </div>
        <div class="form-group">
          <%= f.label :units, 'lb' %> 
          <%= f.radio_button :units, :lb, checked: true %> 
          <%= f.label :units, 'kg' %> 
          <%= f.radio_button :units, :kg %> 
        </div>
        <div class="form-group">
          <%= f.label :bodyweight %> 
          <%= f.text_field :bodyweight, size: 5 %> 
        </div>
        <div class="form-group">
          <%= f.label :total %> 
          <%= f.text_field :total, size: 5 %> 
        </div>
        <%= f.submit "Submit" %> 
      <% end %> 
      <br>
      <%= flash[:wilks] %>
    </div>

    <div class="col-md-4 jumbotron" id='1rm'>
      <h3 class="text-center">One Rep Max</h3>
      <h4 class="text-center">(Brzycki)</h4>
      <%= form_for(:one_rep_max, url: calculate_path) do |f| %> 
        <div class="form-group">
          <%= f.label :weight %> 
          <%= f.text_field :weight, size: 5 %> 
        </div>
        <div class="form-group">
          <%= f.label :reps %> 
          <%= f.text_field :reps, size: 3 %> 
        </div>
        <%= f.submit 'Submit' %> 
      <% end %> 
      <br>
      <%= flash[:one_rep_max] %>
    </div>

  </div>
</div>
