<div id="workout_form">
  <%= form_for(@workout) do |f| %> 
  <div class="form-group">
    <%= f.label :name %> 
    <%= f.text_field :name, class: 'form-control', maxlength: Workout::MAX_NAME_LENGTH %> 
  </div>
  <div class="form-group">
    <%= f.label :date %> 
    <%= f.date_select :date, start_year: 2012, end_year: 1.year.from_now.year %>
  </div>
  <div class="form-group">
    <%= f.label :note %> 
    <%= f.text_area :note, class: 'form-control', maxlength: Workout::MAX_NOTE_LENGTH %> 
  </div>
    <%= f.submit %> 
  <% end %> 
</div>
