<% provide(:title, 'Index') %>
<style>
  body{ background-image: url("/assets/congruent_outline.png"); }
</style>

<section id='workout-list' class='container'>
  <% if @workouts.present? %>
    <% @workouts.each do |w| %>
      <div class='workout-entry'>
        <a href='<%= workout_path(w) %>'>
          <h2 class='workout-name'><%= w.name %></h2>&nbsp;&ndash;
          <h3><%= w.date.strftime("%a, %b %d, %Y") %></h3>
        </a>
      </div>
    <% end %>
  <% else %> 
    <h3>
      <%= link_to 'Click to create a workout', new_workout_path %> 
    </h3>
  <% end %> 

  <% page = params[:page].to_i unless params[:page].nil? %> 
  <% if page && page > 1 %> 
    <%= link_to 'Previous Page', root_path(page: page-1), class: 'btn btn-default' %> 
    <%= link_to 'Next Page', root_path(page: page+1), class: 'btn btn-default' if params[:next_page_valid] %> 
  <% else %> 
    <%= link_to 'Next Page', root_path(page: 2), class: 'btn btn-default' if params[:next_page_valid] %> 
  <% end %> 
</section>
