<% provide(:title, 'Index') %> 

<header class='page-header'>
  <%= link_to 'Create workout', workouts_new_path %> 
  <br>
  <% if params[:page] && params[:page].to_i > 1 %> 
    <%= link_to 'Previous Page', root_path(page: params[:page].to_i - 1)%> 
    <%= link_to 'Next Page', root_path(page: params[:page].to_i + 1) %> 
  <% else %> 
    <span>Previous Page</span>
    <%= link_to 'Next Page', root_path(page: 2) %> 
  <% end %> 
</header>

<% if @workouts %>
  <section>
    <% @workouts.each do |w| %>
    <h4 class='workout_name'><%= link_to w.name, w, class: 'workout_name_link' %>&nbsp;
        <%= w.date.strftime("%a, %b %d, %Y") %></h4>
    <% end %>
  </section>
<% end %> 
