<% provide(:title, @workout.name) %> 
<%= render layout: 'layouts/header' do %> 

<% end %> 
<div id="left-sidebar">
  <% if @workout %>
    <div class='workout_attributes'>
      <li>Name: <%= @workout.name %></li>
      <li>Date: <%= @workout.date %></li>
      <li>Note: <%= @workout.note %></li>
    </div>
    <%= link_to "edit",edit_workout_path(@workout), method: :get %> 
    &nbsp;&middot;&nbsp;
    <%= link_to "delete", @workout, method: :delete, 
                                  data: { confirm: "Are you sure?" }%> 
    <hr>
    <div class='text-center'>Add an exercise</div>
    <%= render 'exercises/exercise_form' %>
  <% end %> 
</div>

<ol id='exercises'>
  <% if (@workout.exercises).any? %>
      <% @workout.exercises.each do |exer| %>
        <% next unless exer.id %> 
        <h4 class='exercise_name'>
          <li><%= link_to("#{h exer.name}".html_safe, exercises_index_path(name: exer.name.downcase)) %> </li>
          <%= link_to "edit", edit_workout_exercise_path(@workout, exer) %> 
          <%= link_to "delete", [@workout, exer], method: :delete, 
                                   data: { confirm: "Are you sure?"} %> 
        </h4>

        <% if exer.note.present? || exer.e_sets.present? %> 
          <ul class='exercise_note_and_sets'>
            <% unless exer.note.blank? %> 
              <li><%= "Note: #{h exer.note}".html_safe%></li>
            <% end %> 

            <% exer.e_sets.each do |set| %> 
              <li>
                <% if set.pounds %> 
                  <%= "#{h set.pounds}".html_safe + " pounds"%> 
                <% end %> 

                <% if set.reps %> 
                  <%= "#{h set.reps}".html_safe + " reps"%> 
                <% end %> 

                <%= link_to "remove", [@workout, exer, set], method: :delete %> 
              </li>
            <% end %> 
          </ul>
        <% end %> 

      <% end %>
  <% else %> 
    No exercises present
  <% end %> 
</ol> 