<% provide(:title, @workout.name) %> 
<%= workout_page_background_color %>

<div class="container jumbotron" style='padding-bottom: 10px'>
  <% if @workout.exercises.any? %>
      <% heading_counter = 0 %> 
      <% @workout.exercises.each_slice(3) do |exercises| %>
      <div class="row exercise-row">
        <% exercises.compact.each do |e| %>
          <%= render partial: 'exercises/exercise_info', locals: { exer: e, heading_number: heading_counter += 1 } if e.id %>
        <% end %>
      </div>
     <% end %>

  <% else %> 
    No exercises present
  <% end %> 
</div> 
<br>

<div class="container">
  <div class="row">

    <div class="col-md-5 col-md-offset-1 jumbotron" id='workout-info'>
      <div id='workout_attributes'>
        <div>Name: <%= @workout.name %></div>
        <div>Date: <%= @workout.date %></div>
        <div>Note: <%= @workout.note %></div>
      </div>
      <br>
      <%= link_to "edit",edit_workout_path(@workout), method: :get %> 
      &nbsp;&middot;&nbsp;
      <%= link_to "delete", @workout, method: :delete, 
                                    data: { confirm: "Are you sure?" }%> 
    </div>

    <div class="col-md-5 jumbotron" style='padding-bottom: 7px'>
        <div class='text-center'>Add an exercise</div>
        <%= render 'exercises/exercise_form' %>
    </div>

  </div>
</div>
