<% if @workout %>
  <ul class='workout_info'>
    <li>Name: <%= @workout.name %></li>
    <li>Date: <%= @workout.date %></li>
    <li>Note: <%= @workout.note %></li>
  </ul>
  </div>

  <ul class='edit_workout_form'>
    <%= render 'layouts/workout_form' %>
  </ul>
  
  <%= link_to "delete", @workout, method: :delete, 
                                  data: { confirm: "You sure?" }%> 

<% else %> 
  Workout not found
<% end %> 
