<% provide(:title, @workout.name.first(13)) %> 

<% if @workout %>
  <ul class='workout_info'>
    <li>Name: <%= @workout.name %></li>
    <li>Date: <%= @workout.date %></li>
    <li>Note: <%= @workout.note %></li>
  </ul>

  <%= render 'layouts/workout_form' %>
    
  <%= link_to "delete", @workout, method: :delete, 
                                  data: { confirm: "Are you sure?" }%> 

  <%= render 'layouts/exercise_form' %>
<% end %> 

<section>
  <% if (@workout.exercise_ids - [nil]).any? %>
      <% @workout.exercises.each do |e| %>
        <% next unless e.id %> 
        <h3><%= e.name %></h3>
        <ul class='exercise'>
          <% if e.sets %> 
            
          <% end %> 
          <%= "<li>#{h e.sets} sets</li>".html_safe if e.sets %>
          <%= "<li>#{h e.reps} reps</li>".html_safe if e.reps %> 
          <%= "<li>#{h e.seconds} sec</li>".html_safe if e.seconds %> 
          <%= "<li>#{h e.pounds} pounds</li>".html_safe if e.pounds %>
          <%= "<li>Note: #{h e.note}</li>".html_safe unless e.note.blank? %> 
        </ul>
      <% end %>
  <% else %> 
    No exercises present
  <% end %> 
</section> 
