<% provide(:title, @workout.name) %> 

<div class="container jumbotron" style='padding-bottom: 2px'>
  <% if (@workout.exercises).any? %>

      <% @workout.exercises.each_slice(3) do |e| %>
      <div class="row" style='border-bottom: 1px #333 groove'>
        <%= render partial: 'exercises/exercise_info', locals: { exer: e[0] } if e[0] && e[0].id %> 
        <%= render partial: 'exercises/exercise_info', locals: { exer: e[1] } if e[1] && e[1].id %> 
        <%= render partial: 'exercises/exercise_info', locals: { exer: e[2] } if e[2] && e[2].id %>
      </div>
     <% end %>

  <% else %> 
    No exercises present
  <% end %> 
</div> 
<br>

<div class="container">
  <div class="row">

    <div class="col-md-5 col-md-offset-1 jumbotron" id='workout-info'>
      <div id='workout_attributes'>
        <div>Name: <%= @workout.name %></div>
        <div>Date: <%= @workout.date %></div>
        <div>Note: <%= @workout.note %></div>
      </div>
      <br>
      <%= link_to "edit",edit_workout_path(@workout), method: :get %> 
      &nbsp;&middot;&nbsp;
      <%= link_to "delete", @workout, method: :delete, 
                                    data: { confirm: "Are you sure?" }%> 
    </div>

    <div class="col-md-5 jumbotron" style='padding-bottom: 7px'>
        <div class='text-center'>Add an exercise</div>
        <%= render 'exercises/exercise_form' %>
    </div>

  </div>
</div>
