<div class='nested-fields form-group'>
  <%= f.label :pounds %> 
  <%= f.text_field :pounds, class: 'form-control e-set-text-field' %> 
  <%= f.label :reps %> 
  <%= f.text_field :reps, class: 'form-control e-set-text-field' %> 
  <%= link_to_remove_association "remove", f %>
</div>
