<div class="exercise_form">
  <%= form_for [@workout, @workout.exercises.build] do |f| %> 
    <%= f.label :name %> 
    <%= f.text_field :name %> 
    <br>
    <%= f.label :note %> 
    <%= f.text_field :note %> 
    <br>
    <div class='e_sets'>
      <%= f.fields_for :e_sets, ESet.new do |s| %> 
        <%= link_to_add_association 'add set', f, :e_sets %>
      <% end %> 
    </div>
    <br>
    <%= f.submit %> 
  <% end %> 
</div>
