<%= javascript_include_tag 'https://www.google.com/jsapi?autoload={%27modules%27:[{%27name%27:%27visualization%27,%27version%27:%271%27,%27packages%27:[%27corechart%27]}]}' %> 

<script type="text/javascript">
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Date', 'Pounds'],
      <% @exercise_data[:formatted_sets].reverse.each do |s| %>
        ['<%= s[:date] %>', <%= s[:pounds] %>],
      <% end %>
    ]);

    var options = {
      title: 'Highest weights for each day - mouseover for info',
      legend: { position: 'none' },
    };

    var chart = new google.visualization.LineChart(document.getElementById('line-graph'));

    chart.draw(data, options);
  }
</script>

<div id="line-graph"></div>

  <form action="<%= exercises_index_url %>" id="start-date-select-form">
    <input type="hidden" name="name" value="<%= params[:name] %>">
    <input type="hidden" name="view" value="line">
    <%= select_tag(:start_date, options_for_select(build_graph_start_date_options), class: 'form-control') %>
    <input type="submit" value="Change start date">
  </form>
