<% provide(:title, params[:name]) if @data %> 
<%= render layout: 'layouts/header' do %>  
<% end %> 

<div id="left-sidebar" class='exercises-index'>
  <% if @exercise_names %> 
  <div id="exercise-select-form">

    <form action="<%= exercises_index_url %>">
      <%= select_tag(:name, options_for_select(@exercise_names, 1), class: 'form-control') %>
      <input type="submit" value="Retrieve">
    </form>

  </div>
  <% end %> 
</div>

<% if @data %> 
<div id="exercise-info">
  <h1><%= params[:name] %></h1>
  <ul>
    <li id='number-of-instances'>
      <%= pluralize(@data[:number_of_instances], "total occurrence") %>
    </li>

    <li id="first-instance">
      first occurrence: 
      <%= link_to @data[:first_instance][:date], workout_path(@data[:first_instance][:workout_id]) %>
    </li>

    <li id="last-instance">
      last occurrence: 
      <%= link_to @data[:last_instance][:date], workout_path(@data[:last_instance][:workout_id]) %>
    </li>

    <% if @data[:lightest_set] %> 
      <li id="lightest-set">
        lightest weight: <%= @data[:lightest_set][:pounds] %> lb
        <%= "for #{pluralize(@data[:lightest_set][:reps], 'rep')}" if @data[:lightest_set][:reps] %> 
        on <%= link_to @data[:lightest_set][:date], @data[:lightest_set][:workout_id] %> 
      </li> 
    <% end %> 


    <% if @data[:heaviest_set] %> 
      <li id="heaviest-set">
        heaviest weight: <%= @data[:heaviest_set][:pounds] %> lb
        <%= "for #{pluralize(@data[:heaviest_set][:reps], 'rep')}" if @data[:heaviest_set][:reps] %> 
        on <%= link_to @data[:heaviest_set][:date], @data[:heaviest_set][:workout_id] %> 
      </li>
    <% end %> 

    
    <% if @sets.present? %> 

      <% if params[:view] == 'charts' %> 
        <%= link_to 'Change view', exercises_index_path(params[:id], name: params[:name]) %> 
        <%= javascript_include_tag 'https://www.google.com/jsapi?autoload={%27modules%27:[{%27name%27:%27visualization%27,%27version%27:%271%27,%27packages%27:[%27corechart%27]}]}' %> 

        <div id="sets-line-graph"></div>

      <% else %> 
        <%= link_to 'Change view', exercises_index_path(params[:id], name: params[:name], view: 'charts') %> 

        <table id='e-set-instances'>
          <colgroup>
            <col width="140">
            <col width="70">
            <col width="70">
          </colgroup>

          <tr>
            <th>Date</th>
            <th>Pounds</th>
            <th>Reps</th>
          </tr>
          
          <% @sets.each do |s| %>
          <tr>
            <td><%= link_to(s.exercise.workout.date, workout_path(s.exercise.workout_id)) %></td>
            <td><%= s.pounds %></td>
            <td><%= s.reps %></td>
          </tr>
          <% end %> 
        </table>

      <% end %> 
    <% else %> 
      No sets exist for this exercise
    <% end %> 
  </ul>
</div>
<% end %> 
