<% provide(:title, params[:name]) if @exercise_data %> 
<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>
<%= render layout: 'layouts/header' do %>  
<% end %> 

<div id="left-sidebar" class='exercises-index'>
  <% if @exercise_names %> 
  <div id="exercise-select-form">

    <form action="<%= exercises_index_url %>">
      <%= select_tag(:name, options_for_select(@exercise_names, 1), class: 'form-control') %>
      <input type="submit" value="Retrieve">
    </form>

  </div>
  <% end %> 
</div>

<% if @exercise_data %> 
<div id="exercise-info">
  <h1><%= params[:name] %></h1>
  <ul>
    <li id='number-of-instances'>
      <%= pluralize(@exercise_data[:number_of_instances], "total occurrence") %>
    </li>

    <li id="first-instance">
      First occurrence: 
      <%= link_to @exercise_data[:first_instance][:date], workout_path(@exercise_data[:first_instance][:workout_id]) %>
    </li>

    <li id="last-instance">
      Last occurrence: 
      <%= link_to @exercise_data[:last_instance][:date], workout_path(@exercise_data[:last_instance][:workout_id]) %>
    </li>

    <% if @exercise_data[:lightest_set] %> 
      <li id="lightest-set">
        Lightest weight: <%= @exercise_data[:lightest_set][:pounds] %> lb
        <%= "for #{pluralize(@exercise_data[:lightest_set][:reps], 'rep')}" if @exercise_data[:lightest_set][:reps] %> 
        on <%= link_to @exercise_data[:lightest_set][:date], @exercise_data[:lightest_set][:workout_id] %> 
      </li> 
    <% end %> 


    <% if @exercise_data[:heaviest_set] %> 
      <li id="heaviest-set">
        Heaviest weight: <%= @exercise_data[:heaviest_set][:pounds] %> lb
        <%= "for #{pluralize(@exercise_data[:heaviest_set][:reps], 'rep')}" if @exercise_data[:heaviest_set][:reps] %> 
        on <%= link_to @exercise_data[:heaviest_set][:date], @exercise_data[:heaviest_set][:workout_id] %> 
      </li>
    <% end %> 

    
    <% if @exercise_data[:formatted_sets].present? %> 

      <% if params[:view] == nil || params[:view] == 'line' %> 
        <%= link_to 'Change view', exercises_index_path(params[:id], name: params[:name], view: 'table') %> 

        <%= render partial: 'line_graph', locals: { formatted_sets: @exercise_data[:formatted_sets] } %> 
      
      <% elsif params[:view] == 'table' %> 
        <%= link_to 'Change view', exercises_index_path(params[:id], name: params[:name], view: 'line') %> 

        <table id='e-set-instances'>
          <colgroup>
            <col width="140">
            <col width="70">
            <col width="70">
          </colgroup>

          <tr>
            <th>Date</th>
            <th>Pounds</th>
            <th>Reps</th>
          </tr>
          
          <% @exercise_data[:formatted_sets].each do |s| %>
          <tr>
            <td><%= link_to(s[:date], workout_path(s[:workout_id])) %></td>
            <td><%= s[:pounds] %></td>
            <td><%= s[:reps] %></td>
          </tr>
          <% end %> 
        </table>

      <% end %> 
      
    <% else %> 
      No sets exist for this exercise
    <% end %> 
  </ul>
</div>
<% end %> 
