<% if @workout.errors.any? %> 
  <ul class="workout_form_errors">
    <% @workout.errors.full_messages.each do |e| %> 
      <li>
        <%= e %><br>
      </li>
    <% end %> 
  </ul>
<% end %> 

<div class="workout_form">
  <%= form_for(@workout) do |f| %> 
    <%= f.label :name %> 
    <%= f.text_field :name %> 
    <br>
    <%= f.label :date %> 
    <%= f.text_field :date %> 
    <br>
    <%= f.label :note %> 
    <%= f.text_field :note %> 
    <br>
    <%= f.submit %> 
  <% end %> 
</div>