<div class="workout_form">
  <%= form_for(@workout) do |f| %> 
    <%= f.label :name %> 
    <%= f.text_field :name %> 
    <br>
    <%= f.label :date %> 
    <%= f.date_select :date, start_year: 2012, end_year: 1.year.from_now.year %>
    <br>
    <%= f.label :note %> 
    <%= f.text_field :note %> 
    <br>
    <%= f.submit %> 
  <% end %> 
</div>